<template>
<div>

    <div><img id="dogImage" class="center" alt="A dog" v-bind:src="url"></div>

    <h1>About {{ dogName }}s</h1>


    <div id="dogInfo">{{ getInfo() }}</div>


    <h1>More {{ dogName.split(' ')[0] }}s</h1>


    <div class="box">
        <router-link :to="{name: 'about', params: { url: suggestions[0].url, dogName: suggestions[0].dogName  }}"><img id="dogImage" class="smallImg" alt="A dog" v-bind:src=" suggestions[0].url "></router-link>
        <router-link :to="{name: 'about', params: { url: suggestions[1].url, dogName: suggestions[1].dogName  }}"><img id="dogImage" class="smallImg" alt="A dog" v-bind:src=" suggestions[1].url "></router-link>
        <router-link :to="{name: 'about', params: { url: suggestions[2].url, dogName: suggestions[2].dogName  }}"><img id="dogImage" class="smallImg" alt="A dog" v-bind:src=" suggestions[2].url "></router-link>
    </div>

</div>
</template>

<script lang="ts">
import Vue from 'vue';
import jQuery from "jquery";

export default Vue.extend({
    name: 'about',
    props: {
        url: String,
        dogName: String
    },
    data() {
        //This looks for 3 other dog from the same breed
        let suggestions: {url: string, dogName: string} [] = [];
        jQuery.ajaxSetup({async: false});
        for (var i = 0; i < 3; i++) {
            let str: string = "";
            jQuery.get("https://dog.ceo/api/breed/" + this.dogName.split(' ')[0] + "/images/random", function(data: any): void {
                str = data.message;
            });
            suggestions.push({url: str, dogName: str.split('/')[4].replace('-', ' ')});
        }
        return {suggestions}
    },

    methods: {
        //Retreives info about the dog breed from wikipedia
        getInfo(): void {
            jQuery.ajaxSetup({async: false}); //call needs to asynchronous or value can't be returned
            jQuery.ajax({
                type: "GET",
                url: "https://en.wikipedia.org/w/api.php", //wikipedia url
                data: {
                    action: "query",
                    format: "json",
                    prop: "extracts",
                    titles: this.dogName.split(' ')[0], //don't search for sub-breed it's too specific (low chance of result)
                    exchars: "5000"
                },
                dataType: "jsonp",
                success: function(data : any): void {
                    let result: string = " ";
                    let a = Object.keys(data.query.pages)[0];
                    result = data.query.pages[a].extract
                    result = result.split('<h2>')[0]; //cut after the first paragraph
                    result = result.replace("<ul>", " ") //no lists
                    if (result.includes("may refer to:") || result == "..." || result == " ") //unfortunately you can't just pick the first page of "may refer to" with the wikipedia api
                    {
                        document.getElementById("dogInfo") !.innerHTML = "No data found";
                    } else {
                        //getElementById().innerHTML is used because the result of the api is text with html markup in it, so I don't have to remove the html 
                        document.getElementById("dogInfo") !.innerHTML = result;
                    }
                }
            });
        }
    }
});
</script>

<style>
#dogInfo {
    padding-left: 8vw;
    padding-right: 8vw;
}

.box {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.smallImg {
    height: 15vw;
    max-width: 30%;
    padding: 0.5vw;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-top: 2.5vw;
}
</style>