<template>
<div>
    <div id="grid">

        <div v-for=" (item, index) in linkArray" :key="item.id">
            <router-link :to="{name: 'about', params: { url: item.url, dogName: item.dogName }}"> <img class="grid_img" v-bind:src="item.url" /></router-link>
        </div>
    </div>

</div>
</template>

<script lang="ts">
import Vue from 'vue';
import jQuery from "jquery";

export default Vue.extend({
    name: 'home',

    data() {
        let linkArray: {id: Number, url: string, dogName: string} [] = [];
        jQuery.ajaxSetup({async: false});
        for (var i = 0; i < 12; i++) {
            let message: string = "";
            jQuery.get("https://dog.ceo/api/breeds/image/random", function(data: any): void {
                message = data.message;
            });
            let str: string[] = message.split('/'); //split the url into bits, the 4th part contains the breed name
            linkArray.push({id: i, url: message, dogName: str[4].replace('-', ' ')});
        }
        return {linkArray}
    }
});
</script>

<style>
#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4, 25vw);
    grid-gap: 1.5vw;

}

.grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>