<template>
<div>

    <div>
        <router-link :to="{name: 'about', params: { url: url, dogName: dogName  }}"><img id="dogImage" class="centerImg" alt="A dog" v-bind:src="url "></router-link>
    </div>

    <div><button type="button" id="randomDog" class="center" v-on:click="fetchDog">Fetch!</button></div>

</div>
</template>

<script lang="ts">
import Vue from 'vue';
import jQuery from "jquery";

export default Vue.extend({
    name: 'random',

    data() {
        return {
            url: "",
            dogName: ""
        }
    },

    methods: {
        fetchDog(): void {
            let str: string = "";
            jQuery.get("https://dog.ceo/api/breeds/image/random", function(data: any): void {
                str = data.message;
            });
            this.url = str;
            this.dogName = str.split('/')[4].replace('-', ' ');
        }
    },
    created() {
        this.fetchDog();
    }
});
</script>




<style>
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
    height: 45vw;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-top: 2.5vw;
}

button {
    display: block;
    align-content: center;
    align-items: center;
    border-style: none;
    width: 10vw;
    color: white;
    font-size: 1.4vw;
    background-color: #333;
    padding: 1.2vw;
}

button:hover {
    background-color: #111;
}
</style>
