<template>
<nav>
    <ul>
        <li>
            <router-link to='/' class="link">
                <p> Dogopedia </p>
            </router-link>
        <li>
        <li>
            <router-link to='/' class="link"><button> Home <br />
                    <font-awesome-icon icon="home" /> </button></router-link>
        </li>
        <li>
            <router-link to='/random' class="link"><button> Random <br />
                    <font-awesome-icon icon="random" /></button></router-link>
        </li>

        <li>
            <input type="text" placeholder="Select Dog" class="select" id="search" list="dogTypes" v-model="selected">
            <datalist id="dogTypes">
                <option v-for="item in breedArray()" :value="item" />
            </datalist>
        </li>
        <li>
            <router-link :to="{name: 'category', params: { category: selected} }" class="link"><button style="padding-left:0vw;" onclick="document.getElementById('search').value = '' "> Search <br />
                    <font-awesome-icon icon="search" /></button></router-link>
        </li>

    </ul>
</nav>
</template>

<script lang="ts">
import Vue from 'vue';
import jQuery from "jquery";

export default Vue.extend({
    name: 'navBar',
    data() {
        return {
            selected: ""
        }
    },
    methods: {

        breedArray(): string[] {
            let str: string[] = [];
            jQuery.ajaxSetup({async: false});
            jQuery.get("https://dog.ceo/api/breeds/list/all", function(data : any) {
                str = data.message;
            });
            return Object.keys(str);
        }
    }

});
</script>

<style scoped>
input {
    height: 5vw;
    margin-top: 0.4vw;
    align-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-radius: 0.75vw;
    background-color: #fff;
    max-width: 12vw;
}

nav {
    margin-bottom: 10%;
}

ul {
    top: 0px;
    position: fixed;
    list-style-type: none;
    margin: 0px;
    padding-right: 0px;
    margin-bottom: 5%;
    background-color: #333;
    /*background-color: #4CAF50; this color for the navbar maybe?*/
    width: 100%;
}

li {
    float: left;
}

a {
    text-decoration: none;
}

button {
    display: block;
    align-content: center;
    align-items: center;
    border-style: none;
    width: 10vw;
    height: 6vw;
    font-size: 1.4vw;
    color: white;
    background-color: #333;
    padding: 1.2vw;
}

button:hover {
    background-color: #111;
}

li p {
    color: white;
    font-size: 1.8vw;
    text-align: center;
    padding-right: 35vw;
}
</style>