<template>
<div>
  <hr> 
  			<div class=column>
  			<router-link :to="{ path: '/'}" class="link" ><h1>Home</h1> </router-link>
  			 </div>
  			 
  			 <div class=column>
  			<router-link :to="{ path: '/random'}" class="link" > <h1>Random</h1></router-link>
  			 </div>
  			 
  			 <!-- not to sure how to do this without taking a ridiculous amount of space, but there is just a lot of categories -->
  			 <div class=column>
  			 <h1>Categories</h1>
  			 
  			 <div v-for="link in array" style=" float: left; width: 25%;">
  			 <router-link :to="{name: 'category', params: { category: link} }">	<p style="font-size:0.7vw;">{{link}}</p></router-link>
			</div>
  			 </div> 
</div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'sitemap',
  
   data()
    {
        var array = ["affenpinscher", "african", "airedale", "akita", "appenzeller", "basenji", "beagle", "bluetick", "borzoi", "bouvier", "boxer", "brabancon", "briard", "bulldog", "bullterrier", "cairn", "cattledog", "chihuahua", "chow", "clumber", "cockapoo", "collie", "coonhound", "corgi", "cotondetulear", "dachshund", "dalmatian", "dane", "deerhound", "dhole", "dingo", "doberman", "elkhound", "entlebucher", "eskimo", "frise", "germanshepherd", "greyhound", "groenendael", "hound", "husky", "keeshond", "kelpie", "komondor", "kuvasz", "labrador", "leonberg", "lhasa", "malamute", "malinois", "maltese", "mastiff", "mexicanhairless", "mix", "mountain", "newfoundland", "otterhound", "papillon", "pekinese", "pembroke", "pinscher", "pointer", "pomeranian", "poodle", "pug", "puggle", "pyrenees", "redbone", "retriever", "ridgeback", "rottweiler", "saluki", "samoyed", "schipperke", "schnauzer", "setter", "sheepdog", "shiba", "shihtzu", "spaniel", "springer", "stbernard", "terrier", "vizsla", "weimaraner", "whippet", "wolfhound"];
        return {array}
    }
});
</script>

<style scoped>
.link {
    text-decoration: none;
}

.column {
    float: left;
    width: 29%;
    /* padding: 10px;*/
    padding: 1vw;
}
</style>
